* {
	padding:0;
  margin:0;
  font-family: sans-serif;
  color: #050000;
}
a {
	color:  #000000;
	text-decoration: none;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #000000;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #89ffce;
	color: rgb(0, 0, 0);
}
.active {
	background-color: #00be49;
	color: rgb(0, 0, 0);
}
.lg-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
    opacity: 0.9;
    color: #050000;
}
.banner {
	height: 60vh;
	background-image: url('../img/gambarBeranda.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
  align-items: center;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text label{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
label span{
  position: relative;
  color: rgb(0, 0, 0);
  z-index: 2;
}
label span:hover{
  filter: blur(1px);
}
.text label::before,
.text label::after{
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  visibility: hidden;
}
.text:hover label::before,
.text:hover label::after{
  visibility: visible;
}
.text:hover label::before{
  color: rgba(0, 235, 125, 0.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
}
.text:hover label::after{
  color: rgba(255, 0, 234, 0.8);
  animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
}
@keyframes glitch {
  0%{
    transform: translate(0);
  }
  20%{
    transform: translate(-3px, 3px);
  }
  40%{
    transform: translate(-3px, -3px);
  }
  60%{
    transform: translate(3px, 3px);
  }
  80%{
    transform: translate(3px, -3px);
  }
  100%{
    transform: translate(0);
  }
}
.button {
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 50px;
	letter-spacing: 4px;
	position: relative;
	background-color: #f7c260;
	border: none;
	color: rgb(0, 0, 0);
	padding: 0px;
	width: 600px;
	text-align: center;
	transition-duration: 0.4s;
	overflow: hidden;
	box-shadow: 0 5px 15px #fdfeff;
	border-radius: 4px;
}
.button:hover {
	background: #fff;
	box-shadow: 0px 2px 10px 5px #63ff78;
	color: #000;
}
section {
	padding:50px 0;
}
.about,
.kategori {
	padding-bottom: 100px;
}
.about p {
	color: rgb(0, 0, 0);
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.kategori {
	background-color: #ffffff;
}
.box {
	color: #148F77;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
} */
.box .col-4 h4 {
	margin:20px 0;
}
.col-4 .img {
	padding: 20px;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.label {
	background-color: #148F77;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
    float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
.title {
    margin-bottom: 2rem;
    text-align: center;
}
.artikel{
padding: 0 40px;
display: flex;
align-items: center;
justify-content: space-between;
}
.kotak{
height: 280px;
max-width: 350px;
margin: 0 20px;
background: white;
transition: 0.4s;
box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.kotak:hover{
height: 470px;
box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.kotak .img{
height: 200px;
width: 100%;
}
.kotak .img img{
height: 100%;
width: 100%;
object-fit: cover;
}
.kotak .top-text{
padding: 5px;
}
.kotak .top-text .name{
font-size: 25px;
font-weight: 600;
color: #202020;
}
.kotak .top-text p{
font-size: 20px;
font-weight: 600;
color: #009c22;
line-height: 20px;
}
.kotak .bottom-text{
padding: 0 20px 10px 20px;
margin-top: 5px;
background: white;
opacity: 0;
visibility: hidden;
transition: 0.1s;
}
.kotak:hover .bottom-text{
opacity: 1;
visibility: visible;
}
.kotak .bottom-text .title{
text-align: justify;
}
.kotak .bottom-text .btn{
margin: 10px 0;
text-align: left;
}
.kotak .bottom-text .btn a{
margin: 22px 0;
text-decoration: none;
text-transform: uppercase;
background: #9eee53;
color: #000000;
padding: 15px 6px;
border-radius: 25px;
display: inline-flex;
transition: .3s ease;
}
.btn a:hover{
border-radius: 4px;
}
.kotak .bottom-text .btn a:hover{
transform: scale(0.9);
}
@media screen and (max-width: 978px) {
.artikel{
    flex-wrap: wrap;
    flex-direction: column;
}
.kotak{
    max-width: 700px;
    margin: 20px 0;
}
}