* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #000000;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #89ffce;
	color: rgb(0, 0, 0);
}
.active {
	background-color: #00be49;
	color: rgb(255, 255, 255);
}
.banner {
	height: 60vh;
	background-image: url('../img/gambarBeranda.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(185, 255, 188, 0.6);
}
.banner h2 {
	color: rgb(0, 0, 0);
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fff;
}
section {
	padding:50px 0;
}
.about,
.kategori {
	padding-bottom: 100px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.kategori {
	background-color: #f9f9f9;
}
.box {
	color: #148F77;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
} */
.box .col-4 h4 {
	margin:20px 0;
}
.col-4 .img {
	padding: 20px;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.label {
	background-color: #148F77;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
.title {
    margin-bottom: 2rem;
    text-align: center;
}
.artikel{
    max-width: 1100px;
    display: flex;
}
.artikel .kotak{
    flex: 1;
    margin: 0 10px;
    background: #fff;
}
.artikel .kotak .img{
    height: 200px;
    width: 100%;
}
.artikel .kotak .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.artikel .kotak .news{
    padding: 10px 20px;
}
.kotak .news .title{
    font-size: 25px;
    font-weight: 600;
}
.kotak .news .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}
.kotak .news p{
    text-align: justify;
    margin: 10px 0;
}
.kotak .news .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.kotak .news .btn button{
    background: #aa4003;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.kotak .news .btn button:hover{
    transform: scale(0.9);
}
@media only screen and (max-width: 567px) {
    .title h1 {
    font-size: 3rem;
}
@media only screen and (max-width: 768px) {
    .artikel .title {
    text-align: center;
}
}
}
