*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #000702;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #07a787;
	color: #fff;
}
.active {
	background-color: #1fcfac;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
.hiro{
	height: 100%;
	width: 100%;
	background-image: url(gambarBeranda.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #FFF;
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #FF61241F;
	border-radius: 30px;
}
.toggle-btn{
	display: inline;
	padding: 10px 27px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #1679333d;
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	margin: 30px auto;
	text-align: center;
}
.social-icons img{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px #7F7F7F3D;
	cursor: pointer;
	border-radius: 50%;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #17f0033d;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.checkbox{
	margin: 30px 10px 30px 0;
}
span{
	color: rgb(129, 129, 129);
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
table,th, tr, td {
    background-color: #f1f1c1;
    border: 1px solid black;
    border-spacing: 10px;
    padding: 5px;
}
caption {
    font-family: Roboto;
    font-size: 30px;
    padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 10px;
    background-color:burlywood
}
table {
    margin: auto;
}
@media only screen and (max-width: 768px) {
    .container {
    max-width: 700px;
    margin: 20px 0;
}
@media only screen and (max-width: 768px) {
    .active {
    text-align: center;
    max-width: 700px;
	margin: 20px 0;
	
}
}
}